
.ig-logo {
    background: image-url("logo.jpg") no-repeat;
    display: flex;
    background-size: contain;
    height: 75px;
    width: 200px;
    justify-content: center;
    margin-top: 15px;
    margin-left: 85px;
    margin-right: 85px;
    margin-bottom: 8px;
}
.splash-content-container {
    justify-content: center;
    margin-top: 12px;
    max-width: 345px;
    width: 100%;
    height: calc(100% - 70px);
    margin: 45px;
    // margin-right: -320px;
}
.splash-content {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #e6e6e6;
    border-radius: 1px;
    margin: 0 0 10px;
    padding: 10px 0;
    justify-content: center;
    height: calc(100% - 200px);
}
.greeting-msg {
    color: #999;
    display: block;
    text-align: center;
    width: 268px;
    height: 40px;
    font-weight: 600;
    line-height: 20px;
    font-size: 17px;
    margin: 0 40px 10px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
}
.signup-login-container {
    display: flex;
    justify-content: center;
    width: 270px;
}
.login-button  {
    position: relative;
    display: block;
    color: #fff;
    text-align: center;
    font-size: 14px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    background-color: #3897f0;
    border: 1px solid #3897f0;
    border-radius: 4px; 
    width: 268px;
    height: 32px;
    line-height: 18px;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: 600;
    text-transform: inherit;
    margin: 12px 0;
}
.login-link {
    color: #3897f0;
}
.demo-link {
    color: #1960a4;
    display: flex;
    justify-content: center;
    font-size: 14px;
    font-weight: 600;
    margin: 15px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
}
.signup-input {
    display: flex;
    color: rgb(7, 7, 7);
    font-size: 12px;
    height: 36px;
    left: 8px;
    margin: 8px 0;
    background: #fafafa;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    width: 266px;
    border: 1px solid #efefef;
    text-indent: 7px;
 }
.signup-link {
    color: #3897f0;
    font-weight: 600;
}
// .signup-button {
//     position: relative;
//     color: #fff;
//     background-color: #3897f0;
//     border: 1px solid #3897f0;
//     border-radius: 4px;  
//     margin: 10px 0,
// }
.or-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px 40px 10px;
}
.or-border {
    background-color: #efefef;
    position: relative;
    height: 1px;
    width: 106.09px;
    top: .45em;
}
.or-txt {
    color: #999;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
    margin: 0 18px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
}
.have-an-account {
    display: flex;
    justify-content: center;
    background-color: #fff;
    border: 1px solid #e6e6e6;
    border-radius: 1px;
    margin: 0 0 10px;
    padding: 10px 0;
    height: 48px;
    width: 348px;
}
.have-an-account-p {
    color: #262626;
    text-align: center;
    font-size: 14px;
    margin: 15px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
}
.terms {
    color: #999;
    text-align: center;
    font-size: 14px;
    margin: 10px 60px;
    line-height: 18px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
}
.instagram-photo-container {
    width: 430px;
    height: 600px;
    // margin: 60px;
    margin-left: 0px;
    margin-right: -45px;
    margin-bottom: 80px;
    margin-top: 120px;
    align-items: center;
    background: image-url("iphone.png") no-repeat;
    background-size: 440px 600px;
    image-rendering: pixelated;
}
// .slider {
//   max-width: 300px;
//   height: 200px;
//   margin: 20px auto;
//   position: relative;
// }
.splash1,.splash2,.splash3,.splash4,.splash5 {
  position: absolute;
  width: 100%;
  height: 100%;
}
.splash1 {
    background: image-url("splash1.jpg") no-repeat;
    width: 465px;
    height: 605px;
    margin: 90px 100px 100px 142px;
    display: flex;
    justify-content: center;
    animation:fade 12s infinite;
    -webkit-animation:fade 12s infinite;
}
.splash2 {
    background: image-url("splash6.jpg") no-repeat;
    width: 465px;
    height: 605px;
    margin: 90px 100px 100px 142px;
    display: flex;
    justify-content: center;
    animation:fade2 12s infinite;
    -webkit-animation:fade2 12s infinite;
}
.splash3 {
    background: image-url("splash3.jpg") no-repeat;
    width: 465px;
    height: 605px;
    margin: 90px 100px 100px 142px;
    display: flex;
    justify-content: center;
    animation:fade3 12s infinite;
    -webkit-animation:fade3 12s infinite;
}
.splash4 {
    background: image-url("splash4.jpg") no-repeat;
    width: 465px;
    height: 605px;
    margin: 90px 100px 100px 142px;
    display: flex;
    justify-content: center;
    animation:fade4 12s infinite;
    -webkit-animation:fade4 12s infinite;
}
.splash5 {
    background: image-url("splash6.jpg") no-repeat;
    width: 465px;
    height: 605px;
    margin: 90px 100px 100px 142px;
    display: flex;
    justify-content: center;
    animation:fade5 12s infinite;
    -webkit-animation:fade5 12s infinite;
}
@keyframes fade
{
  0%   {opacity:1}
  25% { opacity: 0}
  50% { opacity: 0}
  75% { opacity: 0}
  100% { opacity: 1}
}
@keyframes fade2
{
  0%   {opacity:0}
  25% { opacity: 1}
  50% { opacity: 0}
  75% { opacity: 0}
  100% { opacity: 0}
}
@keyframes fade3
{
  0%   {opacity:0}
  25% { opacity: 0}
  50% { opacity: 1}
  75% { opacity: 0}
  100% { opacity: 0}
}
@keyframes fade4
{
  0%   {opacity:0}
  25% { opacity: 0}
  50% { opacity: 0}
  75% { opacity: 1}
  100% { opacity: 0}
}
@keyframes fade5
{
  0%   {opacity:0}
  25% { opacity: 0}
  50% { opacity: 0}
  75% { opacity: 0}
  100% { opacity: 1}
}
// .iphone-image {
//     background: image-url("iphone.png") no-repeat;
//     background-size: contain;
//     height: 422px;
//     width: 244px;
//     margin-left: 146px;
//     margin-top: 93px;
//     background-size: 244px 422px;
// }
